<div class="jumbotron">
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        function testPost() {
            var myData = [{ ID: 1, Value: "Test" }, { ID: 2, Value: "Test2" }];

            $.ajax({
                url: "@Url.Action("Post")",
                contentType: "application/json",
                async: true,
                type: "POST",
                data: JSON.stringify(myData),
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("FAIL: " + errorThrown);
                },
                success: function (data, textStatus, jqXHR) {
                    console.log("SUCCES");
                    alert(data);
                }
            });
        }
    </script>
    <a href="javascript:testPost();">Click here to Start Data Collection</a>
    <h1>ASP.NET</h1>
    <p class="lead">Visual Adaptive Strategy Environment creates adaptive strategy by manipulating LAGBlocks</p>
    <p><a href="http://apisoft.co.uk/VASE/demos/code/index.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>How to use Data Collection API</h2>
        <p>
            Data Collections API is a framework that makes it easy to collect data from a broad range of clients, 
            including browsers and mobile devices. It is an ideal platform for building RESTful applications on the web.
        </p>
        <p><a class="btn btn-default" href="http://apisoft.co.uk/VASE/demo/code/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is LAG</h2>
        <p>LAG (Language for Adaptation Granuality) is a programming language for creating Adaptive Specification</p>
        <p><a class="btn btn-default" href="http://adaptive.dcs.warwick.ac.uk">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>My Online Teacher (MOT)</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
